name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    types:
      - synchronize
      - opened

jobs:
  ci:
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: 'true'
          prune-cache: 'true'
      - name: Lint
        run: |
          uv run ruff check --output-format=github
          uv run ruff format --check
      - name: Type check
        run: uv run basedpyright
      - name: Test
        run: uv run pytest tests/ -v